header {
    background-color: rgb(0, 0, 0);
}

.header {
    display: flex;
    background-color: #000000;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 70%;
    margin: 0px auto;
}

#btnMenu {
    display: none;
}

.menu {
    display: flex;

}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;

}

.menu li a:hover {
    background-color: yellow;
    color: rgb(0, 0, 0);
}

.logoMenu {
    width: 55px;
    padding: 5px;
}

#btn-menu {
    display: none;
}

@media (max-width: 800px) {
    .header {
        //flex-direction: row-reverse;
        width:  100%;
     
 } 
}

    @media (max-width: 600px) {
        .header {
            flex-direction: row-reverse;
            width: 100vw;
            height: 58px;
        }

        .logoMenu {
            width: 58px;
            padding-top: 14px;
        }

        #btnMenu {
            display: block;
            position: absolute;
            opacity: 0;

        }

        .menu {
            display: none;
            height: calc(100vh - 70px);
            width: 100%;
            top: 70px;
            right: 0px;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.494);
            z-index: 1000;

        }

        #btnMenu:checked~.menu {
            display: block;
            height: calc(100vh - 70px);
            width: 100%;
            backdrop-filter: blur(4px);
            top: 70px;
            right: 0px;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.611);
            z-index: 1000;

            animation: fadeInLeft;
            animation-duration: 1s;
        }

        /*
    #btnMenu ~.menu {
       display: block;
       //height: calc(100vh - 70px);
       //  width: 100%;
       //  backdrop-filter: blur(4px);
       // top: 70px;
       //  right: 0px;
       //   position: absolute;
       //  background-color: rgba(0, 0, 0, 0.611);
       // z-index: 1000;
       animation: fadeOutRight;
       animation-duration: 2s;
   }*/

        // #btnMenu:not(:checked) ~.menu {



        .menu a:link {
            display: block;
            padding: 1rem 1rem;
            background-color: #161616;
            margin: 0px auto;
            border-bottom: 6px solid var(--corPrimaria);
        }

        .menu a:hover {
            background-color: var(--corPrimaria);
            border-bottom: 6px solid #000;
            color: #000000;
        }



        label {
            display: block;
            position: relative;
            //border: 1px red solid;

            //bottom: -3px;
            cursor: pointer;
            width: 30px;
            height: 26px;
        }

        label span {
            position: absolute;
            display: block;
            background-color: var(--corPrimaria);
            border-radius: 30px;
            width: 100%;
            height: 3px;
            transition: 0.30s ease-in-out;

        }

        label span:nth-child(1) {
            top: 0px;
        }

        label span:nth-child(2) {
            top: 10px;
        }

        label span:nth-child(3) {
            top: 20px;
        }


        #btnMenu:checked+label span:nth-child(1) {
            transform: rotate(-45deg);
            top: 10px;

            transform: rotate(45deg);

        }

        #btnMenu:checked+label span:nth-child(2) {
            transform: rotate(135deg);
            // opacity: 0;
        }

        #btnMenu:checked+label span:nth-child(3) {
            transform: rotate(45deg);
            top: 10px;
        }



    }