
<header class="">
    <div class="header">

    <a href="#">
        <object class="logoMenu" data="../../../assets/img/logo.svg"></object>
    </a>
    <nav id="nav">
        
        <input type="checkbox" id="btnMenu">
        <label for="btnMenu">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <ul class="menu">
            <li><a href="#">Projetos</a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="#">Sobre</a></li>
        </ul>
    </nav>   
 </div>
</header>
