<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <title>Home</title>
</head>

<body>
    <app-header></app-header>
    <div class="containerBackground">
        <!--  animate__animated animate__fadeIn -->

      
    <section class="grid1">
        <div class="painelDeUsuario">
            <app-card></app-card>
            <ul>
                <li><a href="">Redes sociais</a></li>
                <li><a href="mailto:joao_jfmx@outlook.com" target="_blank">joao_jfmx@outlook.com</a></li>
                <li><a href="https://wa.me/5521980827649" target="_blank">+5521980827649</a></li>
                <li><a href="https://github.com/joaojfmx" target="_blank">Github</a></li>
            </ul>
        </div>
        <div class="conteudoCurriculo">
            <article>
                <div class="tituloH1">
                   
                    <h1>Objetivo</h1>
                </div>
                <p>dolor, sit amet consectetur adipisicing elit. Quaerat at est obcaecati sapiente
                    consectetur commodi facere ratione magni odio delectus adipisci temporibus, omnis architecto. Ullam
                    soluta
                    magnam aspernatur repudiandae saepe.</p>
            </article>
            <article>
                <div class="tituloH1">
                    <!--<object data="../../../assets/sistema/outros/h1.svg"></object>-->
                    <h1>Formação</h1>
                </div>
                
                <ul >
                    <li class="li">
                        Sistemas de Informação | Faculdade Estácio
                        AGOSTO/2019 – CURSANDO
                        3º Período – NOTURNO – 18:50 as 22:20
                    </li>
                    <li class="li">
                        Técnico em Informática | SENAC
                        JANEIRO/2018 – AGOSTO/2019
                    </li>

                </ul>


            </article>

        </div>



        <div class="tituloH1">
            <h1>Projetos</h1>
        </div>
        <div class="projetos">
            <div class="itemProjeto">
                <object class="iconSoftware" data="../../../assets/sistema/logos/flutter.svg"></object>
                <h1><a href="https://github.com/joaojfmx/Autonomo_app">AutônomoApp</a></h1>
                <p>App desenvolvido para unir pessoas autônomas a pessoas que buscam algum tipo de serviço.
                    **Projeto criado para fins de aprendizado**</p>
            </div>
            <div class="itemProjeto">
                <object class="iconSoftware" data="../../../assets/sistema/logos/angular2.svg"></object>
                <h1><a href="#">Site currículo</a></h1>
                <p>Desenvolvido em CSS Grid/Flex sem bootstrap ou qualquer framework.
                </p>

            </div>
            <div class="itemProjeto">
                <object class="iconSoftware" data="../../../assets/sistema/logos/ionic.svg"></object>
                <h1><a href="https://github.com/joaojfmx/ionic_4-cestafacil">Cesta Fácil</a></h1>
                <p>Projeto final feito em 2019 no curso técnico SENAC
                </p>
            </div>
        </div>
                 <!--   <article>
                        <div class="tituloH1">
                            <h1>Cursos</h1>
                        </div>
                        <ul>
                            <li>HTML</li>
                            <li>s</li>
                            <li>w</li>
                            <li>sss</li>
                            <li>sss</li>
                            <li>sss</li>
                        </ul>
                    </article> -->
    </section>

        </div>
    <app-footer></app-footer>
</body>

</html>