
<section class="animate__animated animate__fadeIn">
<div class="conteudo" fxLayout="column" fxLayoutAlign="space-between">

            <article>
                <div class="tituloH1">
                    <h1>Objetivo</h1>
                </div>
                <p>dolor, sit amet consectetur adipisicing elit. Quaerat at est obcaecati sapiente
                    consectetur commodi facere ratione magni odio delectus adipisci temporibus, omnis architecto. Ullam
                    soluta
                    .</p>
            </article>

            <article>
                <div class="tituloH1">
                    <!--<object data="../../../assets/sistema/outros/h1.svg"></object>-->
                    <h1>Formação</h1>
                </div>
                <ul>
                    <li class="li">
                        Sistemas de Informação | Faculdade Estácio
                        AGOSTO/2019 – CURSANDO
                        3º Período – NOTURNO – 18:50 as 22:20
                    </li>
                    <li class="li">
                        Técnico em Informática | SENAC
                        JANEIRO/2018 – AGOSTO/2019
                    </li>
                </ul>
            </article>
</div>
</section>