$background1: 'https://kumata-blog.com/static/866ddea84b1f18ead837422f47c8ee52/857b3/language.jpg';
$background2: 'https://res.cloudinary.com/practicaldev/image/fetch/s--hGHVK7xY--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/i/cp7nhv884dqr8qiq8vk5.jpeg';

// paleta de cor
$rosa: #FC10A3;
$azul: #0866FF;

$corPrimaria: BLUE;

section {
    background: linear-gradient(135deg, #4a0259b8 0%, #1a068a88 50%, #450252b8 100%), url($background1);
    height: calc(100vh);
    background-repeat: no-repeat;
    background-position: 10%;
    background-size: cover;
}

.conteudo {
    padding: 40px;
}

article {
    // backdrop-filter: drop-shadow(10px 10px 10px rgb(12, 248, 0));
    width: calc(100vw - 500px);

    box-shadow: 5px 5px $azul, 10px 10px $rosa, 10px 10px 30px rgba(0, 0, 0, 0.5);
    // background: #1010103b;

    // box-shadow: 10px 5px 50px rgba(0, 0, 0, 0.521);
    border-radius: 25px;
    // border: yellow dotted;
    backdrop-filter: blur(16px) saturate(100%);



    padding: 20px;
    margin-bottom: 30px;


    transition: box-shadow 800ms, backdrop-filter 200ms linear;

    p {
        // background-color: rebeccapurple;
        margin-top: 12px;
    }
}

article:hover {
    backdrop-filter: blur(16px) saturate(200%);
    box-shadow: -5px -5px $azul, 5px 5px $rosa, 10px 10px 30px rgba(0, 0, 0, 0.5);
    // box-shadow: 10px 10px $azul, -10px -10px $rosa, 10px 10px 30px rgba(0, 0, 0, 0.2);
}




.tituloH1 {
    display: block;
    // grid-template-rows: 1fr;
    height: 100%;
    // justify-content: start;
    /// text-align: center;
    //align-items: center;
}

.tituloH1 h1 {
    text-transform: uppercase;

    color: var(--textoTitulo);
    position: relative;
    font-size: 28px;
    font-weight: 900;
    // margin-bottom: 30px;
    margin-left: 20px;
}

.tituloH1 h1::before {
    content: '';
    position: absolute;

    left: -30px;
    bottom: -6px;
    background-color: var(--corPrimaria);
    height: 44px;
    box-sizing: border-box;
    width: 10px;
}

.conteudo {
    // height: 600px;

    ul li {
        list-style: square inside;
        margin: 15px 0px;
        // border: 2px yellow dotted;
    }
}

$iconHab: 42px;

mat-list {
    margin-top: 20px;

    mat-list-item {
        color: white;

        .logoHabilidade {
            padding: 0%;
        }

        img {
            border-radius: 0%;
            width: $iconHab;
            height: $iconHab;
            // background-color: #ff0000;

            fill: rgb(41, 35, 153);
            // filter: brightness(0%) invert(100%);

        }

        div {
            margin: 6px 0px;
        }

    }
}

@media (max-width: 800px) {
    article {
        width: 80vw;
    }

    section {
        background: linear-gradient(135deg, #4a0259b8 0%, #1a068a88 50%, #450252b8 100%) url($background1);
        height: auto;
        width: auto;
        background-repeat: no-repeat;
        background-position: 10%;
        background-size: cover;
    }

    section .conteudo {
        padding: 10px;

        article {

            // height: 600px;
            // background-color: #0866FF;




            ul li {
                font-size: 16px;
                // list-style: square inside;
                margin: 20px 0px;
                // border: 2px yellow dotted;

                ol {

                    margin: 0px;
                    padding: 0px;


                }
            }
        }
    }
}