<section class="animate__animated animate__fadeIn">
    <div class="conteudo" fxLayout="column" fxLayoutAlign="space-evenly center">

        <article>
            <div class="tituloH1">
                <h1>Objetivo</h1>
            </div>

            <p>Atuar como desenvolvedor fullstack</p>
        </article>

        <article>
            <div class="tituloH1">
                <!--<object data="../../../assets/sistema/outros/h1.svg"></object>-->
                <h1>Formação</h1>
            </div>
            <ul>
                <li class="li">
                    Sistemas de Informação | Faculdade Estácio

                    <ol>
                        AGOSTO/2019 – CURSANDO
                        <b>4º Período – NOTURNO – 18:50 as 22:20</b>
                    </ol>

                </li>
                <li class="li">
                    Técnico em Informática | SENAC
                    <ol>

                        <b>JANEIRO/2018 – AGOSTO/2019</b>
                    </ol>
                </li>
            </ul>
        </article>
        <article>
            <div class="tituloH1">
                <h1>Habilidades</h1>
            </div>


            <mat-list>

                <mat-list-item *ngFor="let habContent of habilidades">
                    <img mat-list-icon class="logoHabilidade" draggable="false" oncontextmenu="return false;" [src]="habContent.img" alt="">

                    <div class="textHab" mat-line fxLayout="row" fxLayoutAlign="space-between none">

                        <div>{{habContent.nome}}</div>
                        <div>{{habContent.habilidade + '%'}}</div>
                    </div>
                    <div mat-line>
                     
                        <mat-progress-bar mode="determinate" [value]="habContent.habilidade"></mat-progress-bar>
                    </div>
                </mat-list-item>

     

            </mat-list>
        </article>

    </div>
</section>