$background1: 'https://kumata-blog.com/static/866ddea84b1f18ead837422f47c8ee52/857b3/language.jpg';
$background2: 'https://res.cloudinary.com/practicaldev/image/fetch/s--hGHVK7xY--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/i/cp7nhv884dqr8qiq8vk5.jpeg';

// paleta de cor
$rosa: #FC10A3;
$azul: #001ce6;

$card_w: 550px;

section {
    font-family: 'Open Sans', sans-serif;
    // background: url($background1);
    // background: linear-gradient(135deg, #4a0259b8 0%, #1a068a88 50%, #450252b8 100%), url($background1);
    // margin-left: 90px;
    //  width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: 100%;

}

*,
.conteudo {
    //  border: rgba(255, 0, 0, 0.514) 1px dashed;

}

article {
    box-shadow: 6px 6px $azul, 12px 12px $rosa, rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

    border-radius: 32px;
    background-color: var(--corBackground3);
    // backdrop-filter: blur(16px) saturate(100%);

    padding: 40px;
    margin: 20px 20px;
    // transition: box-shadow 800ms, backdrop-filter 200ms linear;
    transition: box-shadow 400ms;

}

.article1,
.article2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    // width: calc(100% - 1050px);
    width: calc(42%);


    // min-width: 350px;
    // width: 550px;
    height: 250px;

    p {
        margin-top: 8%;
    }
}

.article3 {
    //width: calc(100vw - 650px);
    width: calc(100%);
    // width: 1100px;
}

article:hover {
    backdrop-filter: blur(16px) saturate(200%);
    // box-shadow: -5px -5px $azul, 5px 5px $rosa, 10px 10px 30px rgba(0, 0, 0, 0.9);

    box-shadow: -6px -6px $azul, 6px 6px $rosa, rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

}




.tituloH1 {
    //  display: block;
    // grid-template-rows: 1fr;
    // height: 30%;
    // justify-content: start;
    /// text-align: center;
    //align-items: center;
}

.tituloH1 h1 {
    text-transform: uppercase;

    color: var(--textoTitulo);
    position: relative;
    font-size: 28px;
    font-weight: 900;
    // margin-bottom: 30px;
    margin-left: 20px;
}

.tituloH1 h1::before {
    content: '';
    position: absolute;

    left: -30px;
    bottom: -6px;
    background-color: var(--corPrimaria);
    height: 44px;
    box-sizing: border-box;
    width: 10px;
}

.conteudo {
    // height: 600px;

    ul li {
        list-style: square inside;
        margin: 15px 0px;
        // border: 2px yellow dotted;
    }
}


$iconHab: 42px;



mat-list {
    margin-top: 20px;

    mat-list-item {

        img {
            border-radius: 0%;

            user-select: none;
            width: $iconHab;
            height: $iconHab;
            // background-color: #ff0000;

            fill: rgb(41, 35, 153);
            // filter: brightness(0%) invert(100%);

        }

        div {
            margin: 6px 0px;
        }

    }
}

.mat-progress-bar .mat-progress-bar-fill::after {
    background-color: var(--corPrimaria) !important;
    background-color: yellow !important;
    fill: #001ce6;
    color: red;
}

.textHab {
    font-weight: 50;
    font-size: clamp(12px, 18px, 58px);
    letter-spacing: 1px;
    color: #FC10A3;

    &:hover {
        color: #a10566;
        cursor: default;
    }
}

.logoHabilidade {
    padding: 0px 12px 12px 0px;
    width: 46px;
    height: 46px;
}

.cursos {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.cursosInfo {
    display: flex;
    flex-direction: column;
    // align-items: stretch;

    width: 100%;

    div {
        //float: right;
        display: flex;
        justify-content: space-between;

        div>a {
            // text-transform: uppercase;
            color: #001ce6;
        }
    }
}



@media only screen and (max-width: 800px) {
    article {
        width: 100vw;
        margin: 0px 0px 20px 0px;

        // background-color: #0866FF;

        padding: 20px 30px 28px 30px;
        margin: 12px 4px;
    }

    section {

        margin: 0px;
        padding: 4px 16px;

    }

    section .conteudo {


        article {

            // height: 600px;
            ul li {
                // font-size: 16px;
                // list-style: square inside;
                margin: 20px 0px;
                // border: 2px yellow dotted;

                ol {

                    margin: 0px;
                    padding: 0px;


                }
            }
        }
    }

    .article1,
    .article2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        //width: calc(100vw - 1400px);
        width: 100%;

        p {
            // padding-bottom: 10%;
            margin-top: 16px;
        }
    }

    .article3 {
        // width: 100%;
        // width: calc(100vw - 140px);

    }

    .cursos {
        display: flex !important;
        flex-wrap: wrap;
        // background-color: #03040caf;
        //border: rgba(255, 0, 0, 0.514) 1px dashed;

        .logoHabilidade {
            grid-area: logo;
        }

        .cursosInfo {

           
            //background-color: #001be634;

            .textHab {
                display: flex;
                flex-direction: column;
            }

            .nomeCurso {
                font-size: medium;
            }

        }

    }
}

.progresso {
    //background-color: #e60000c2;
    grid-area: progresso;
}

.progressoBarra {
    grid-area: progressoBarra !important;
   // border: rgb(68, 0, 255) 2px dashed;
    color: #2710fc;

}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {

    .article1,
    .article2 {

        max-width: 36%;
    }
}