<footer class="row">
    <div>
        <ul>
            <h2>testes</h2>
            <li>Sobre nós</li>
            <li>Contato</li>
            <li>Outros</li>
        </ul>
    </div>
        <div>
            <ul>
                <h3>Desenvolvido <del style="opacity: 0.25;">na força do ódio</del> com amor 💘</h3>
            </ul>
        </div>
    <div>
        <ul>
            <h2>Redes Sociais</h2>
            <li><a href="http://" target="_blank">Facebook</a></li>
            <li><a href="http://" target="_blank">Instagram</a></li>
            <li><a href="http://" target="_blank">LinkedIn</a></li>
        </ul>
    </div>

</footer>