<footer class="">
    <section class="row">
        <div class="container">
            <ul>
                <h2>Menu</h2>
                <li><a href="http://" target="_blank">Sobre</a></li>
                <li><a href="http://" target="_blank">Contato</a></li>
                <li><a href="http://" target="_blank">Outros</a></li>
            </ul>
        </div>
        <div class="container item2">
            <h3>Desenvolvido <del style="color: rgba(255, 255, 255, 0.048)">na força do ódio</del> <br>com amor 💘</h3>
        </div>
        <div class="container">
            <ul>
                <h2>Redes Sociais</h2>
                <li><a href="http://" target="_blank">Facebook</a></li>
                <li><a href="http://" target="_blank">Instagram</a></li>
                <li><a href="http://" target="_blank">LinkedIn</a></li>
            </ul>
        </div>
    </section>
</footer>