<div class="content animate__animated animate__fadeIn">
<app-header></app-header>
<div class="containerBackground ">
    <section class="grid1">
        <div class="conteudoCurriculo">
            <article>
                <div class="tituloH1">
                    <h1>Objetivo</h1>
                </div>
                <p>dolor, sit amet consectetur adipisicing elit. Quaerat at est obcaecati sapiente
                    consectetur commodi facere ratione magni odio delectus adipisci temporibus, omnis architecto. Ullam
                    soluta
                    magnam aspernatur repudiandae saepe.</p>
            </article>
            <article>
                <div class="tituloH1">
                    <!--<object data="../../../assets/sistema/outros/h1.svg"></object>-->
                    <h1>Formação</h1>
                </div>
                <ul>
                    <li class="li">
                        Sistemas de Informação | Faculdade Estácio
                        AGOSTO/2019 – CURSANDO
                        3º Período – NOTURNO – 18:50 as 22:20
                    </li>
                    <li class="li">
                        Técnico em Informática | SENAC
                        JANEIRO/2018 – AGOSTO/2019
                    </li>
                </ul>
            </article>
        </div>
        <div class="tituloH1">
            <h1>Projetos</h1>
        </div>
        <div class="projetos">
            <div class="itemProjeto">
                <object class="iconSoftware" data="../../../assets/sistema/logos/flutter.svg"></object>
                <h1><a href="https://github.com/joaojfmx/Autonomo_app">AutônomoApp</a></h1>
                <p>App desenvolvido para unir pessoas autônomas a pessoas que buscam algum tipo de serviço.
                    **Projeto criado para fins de aprendizado**</p>
            </div>
            <div class="itemProjeto">
                <object class="iconSoftware" data="../../../assets/sistema/logos/angular2.svg"></object>
                <h1><a href="#">Site currículo</a></h1>
                <p>Desenvolvido em CSS Grid/Flex sem bootstrap ou qualquer framework.
                </p>
            </div>
            <div class="itemProjeto">
                <object class="iconSoftware" data="../../../assets/sistema/logos/ionic.svg"></object>
                <h1><a href="https://github.com/joaojfmx/ionic_4-cestafacil">Cesta Fácil</a></h1>
                <p>Projeto final feito em 2019 no curso técnico SENAC
                </p>
            </div>
        </div>
    </section>
</div>

<app-footer></app-footer>
</div>