 @use '@angular/material'as mat;
$rosa: #FC10A3;
$azul: #001ce6;

@mixin box-shadow {
    box-shadow: 7px 7px $azul, 12px 12px $rosa; // 10px 10px 30px rgba(0, 0, 0, 0.5);
    border-radius: 25px !important;
    // backdrop-filter: blur(16px) saturate(100%);

}

@mixin borda {
    border: rgb(255, 0, 0) 3px dotted;
}

.appContainer {
    background-color: #EFF2F4;
}

//  .appContainer,
mat-drawer-opened,
mat-drawer-side,
mat-drawer,
// .mat-drawer-container,
mat-sidenav {
    background-color: var(--corBackground3);
}

mat-sidenav {

    @include box-shadow;
    width: 340px;
    height: calc(100vh - 100px);

    //border-right: 6px #0084ff solid;
    margin: 10px 12px;
    padding: 12px;
    text-align: center;

}

* {
    // border: 1px red dotted;
}

.drawer {
    // background-color: #001ce6;
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    width: 310px;


}

mat-selection-list mat-list-option {
    color: var(--textoTitulo);
    
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    mat-icon {
        margin-right: 8px;
    }
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 1.5rem;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;

}
// remove input radio nativo do mat list option
:host ::ng-deep .mat-mdc-list-option .mdc-radio {
    display: none !important;
}
mat-list-option[aria-selected=true] {
    //border-left: 8px solid var(--corPrimaria);
    transition: background-color, border-left 600ms;
    background-color: #001ce6;

    button{
        color: #fff !important;
    }

    &:hover {
        background-color: #001be6b7;
    }
}

mat-list-option[aria-selected=false]:hover {
    
    mat-radio-button {
        display: none !important;
    }
    
    background-color: var(--corSecundaria);

}


.fa {
    width: 25px;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: rgb(24, 24, 24);
    border-bottom: 4px solid transparent;

    // box-sizing: border-box;
    transition: border-bottom 800ms;

    // background-color: red;
    // border: 2px solid rgb(255, 255, 255);

    // border-radius: 50%;
    &:hover {
        // border-bottom: 4px solid var(--corPrimaria);
        color: var(--corBackground);
        background-color: var(--corPrimaria);
    }


}



.content {
    // border-left: 4px dodgerblue dashed;

     height: calc(100vh - 65px);
    /// border-radius: 32px;

    // margin: 20px 32px 0px 42px;
    // box-shadow: 7px 7px $azul, 13px 13px $rosa, 10px 10px 30px rgba(0, 0, 0, 0.5);
     margin-left: 42px;
    overflow: scroll;
    color: rgb(186, 186, 186);

    &::-webkit-scrollbar {
        display: none;
    }

    // @include mat.elevation(8, #e91e63, 1.8);
    // background-color: #002b5c;
}


mat-sidenav-content {

    background-color: var(--corBackground);
    

}

mat-sidenav-container {
    background-color: var(--corBackground);
     height: calc(100vh - 65px);

}

.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    @include mat.elevation(8);
    
    background-color: var(--corPrimaria);
    color: rgb(221, 221, 221);
    height: 65px;

    .iconMenu {
        cursor: pointer;
    }
}

.logoMenu {
    display: none;
    visibility: hidden;
    width: 80px;
    fill: var(--corPrimaria);
    padding: 10px;
    margin-top: 6px;

    &:hover {
        // fill: rgba(255, 255, 0, 0.575);
        filter: drop-shadow(3px 3px 2px rgba(255, 255, 0, 0.651));

    }
}

input[type="radio"][disabled] 
{
    border-color: purple;
}
input[type="radio"]{
    
    border-color: rgb(75, 14, 75);
}




@media (max-width: 800px) {
    mat-toolbar {
        display: block;

    }

    .content {
        margin: 0px 0px;
        // padding: 2px;
    }

    .logoMenu {
        display: none;
    }
}