@use '~@angular/material'as mat;

mat-sidenav {

    width: 350px;


    background-color: #220126;
    border-right: 6px rgb(0, 132, 255) solid;
    color: white;
    padding: 16px;
    text-align: center;
}

.drawer {


    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: stretch;
    align-content: stretch;

    height: calc(100vh - 65px);

}

mat-selection-list mat-list-option {
    color: white;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    mat-icon {
        margin-right: 8px;
    }
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 1.5rem;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;

}



Mat-List-Option[aria-selected="true"] {
    border-left: 8px solid var(--corPrimaria);
    transition: background-color, border-left 600ms;
    background-color: #0000004d;

    &:hover {
        background-color: rgba(5, 113, 208, 0.267);
    }
}

Mat-List-Option[aria-selected="false"]:hover {
    background-color: rgba(5, 113, 208, 0.925);

}

.fa {
    width: 25px;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: rgb(255, 255, 255);
    border-bottom: 4px solid transparent;

    box-sizing: padding-box;
    transition: border-bottom 800ms;

    // background-color: red;
    // border: 2px solid rgb(255, 255, 255);
    // border-radius: 50%;
    &:hover {
        border-bottom: 4px solid var(--corPrimaria);
    }
}

.mediasSociais {
    // display: block;
   // border: 1px blue solid;
    margin-bottom: 32px;
   // background-color: red;


}

.content {
    // position: absolute;
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
    //background-color: #002b5c;
}

mat-sidenav-content {
    background-color: #212121;
    // background-color: rgb(167, 62, 62);
}

mat-sidenav-container {
    height: calc(100vh - 65px);

}

.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    @include mat.elevation(9);
    background-color: var(--corBackgroud);
    color: white;

}

.logoMenu {
    width: 80px;
    fill: var(--corPrimaria);
    padding: 0px;
    margin-top: 6px;

    &:hover {
        // fill: rgba(255, 255, 0, 0.575);
        filter: drop-shadow(3px 3px 2px rgba(255, 255, 0, 0.651));

    }
}

@media (max-width: 800px) {
    .content {
        margin: 16px;
    }

    .logoMenu {
        display: none;
    }
}